h1
 {
	color:rgba(218, 165, 32, 1.0);
 }
.specific
 {
 	margin-top:20px ;
 	margin-right:30px;
 	margin-left:30px;
 	margin-bottom:20px;
	height:300px;
	width:400px;
	transition: 2s;
 }
.specific:hover	
 {
	height:325px;
	width:450px;
 }
 a{
 	text-decoration:none;
    color:skyblue;
    padding: 5px;
 }
 a:hover{
 	color:white;
 	background-color: rgb(255, 217, 15)
 	
 }
#b {
  position: absolute;
  left: 110px;
  top: 200px;
  z-index: -1;
}

 h2
 {
 	color: rgba(218, 165, 32, 1.0);
 }
 .column1{
 	float:left;
 	width=50%;
 }
 .column2{
 	float:right;
 	width=50%;

 }
 .foot{
 	 	float:left;
 	width=50%;
 }
 .navbar{
  position:fixed;
  top:0px;

 }

 .nav{text-decoration:none;
  background-color:darkred;
  color:rgba(218,165,32,1.0);
  font-family:impact;
     padding:5px;
     margin-left:-8px;
     padding-right:154px;
     font-size:204%;
     float:left;

 }
 .nav:hover{
  background-color:rgba(218,165,32,1.0);
  color:darkred;